* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
  font-family: "PT Sans", sans-serif;
}
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007bff;
  padding: 10px 20px;
}

.logo {
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

li .link {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

li .link:hover {
  color: #ffd83e;
}

.main-content {
  padding: 10px;
  align-items: center;
}
